<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<body class="bg-zinc-900 text-white">
  <div class="w-full min-h-screen p-10">
    <a class="text-blue-500 hover:underline mr-4" href="/create">Back to create</a>
    <a class="text-blue-500 hover:underline" href="/">Back to Home</a>

    <h1 class="text-3xl mt-10 tracking-tighter mb-6">All Products</h1>

      <div class="products flex gap-6 flex-wrap">
        <% if(products.length > 0){ %> <% products.forEach((product) => { %>
        <div
          class="product w-72 bg-zinc-800 rounded-lg shadow-lg overflow-hidden"
        >
          <!-- Image -->
<img
  src="<%= product.image.url %>"
  alt="<%= product.name %>"
  class="w-full h-52 object-contain"
/>


          <!-- Details -->
          <div class="p-4">
            <h3 class="text-xl font-semibold"><%= product.name %></h3>
            <p class="text-gray-300 text-sm mt-1">
              Brand: <%= product.brand %>
            </p>
            <p class="text-gray-400 text-sm mt-1"><%= product.description %></p>
            <p class="text-lg font-bold mt-3 text-green-400">
              ₹<%= product.price %>
            </p>

            <div class="flex gap-3 mt-5 justify-between">
              <a
                class="text-blue-400 hover:underline"
                href="/edit/<%= product._id %>"
                >Edit</a
              >
              <a
                class="text-red-500 hover:underline"
                href="/delete/<%= product._id %>"
                >Delete</a
              >
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h1 class="text-zinc-500">No products yet</h1>
        <% } %>
      </div>
    </div>

<!-- FOOTER -->
<footer class="border-t border-zinc-800 py-8 text-center text-zinc-500 text-sm">
  <div class="flex flex-col items-center gap-2">
    <p>
      © <%= new Date().getFullYear() %> MobileStore • Premium UI
    </p>

    <p class="text-zinc-400">
      Built by
      <a
        href="https://github.com/Nakul-Shakya"
        target="_blank"
        class="text-blue-400 hover:underline font-medium"
      >
        Nakul Shakya
      </a>
    </p>
  </div>
</footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
